<h1>Home</h1>

<% unless current_user.present? %>

<h1>Log in</h1>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
<% else %>

<%= link_to 'New User', new_user_path %> | 
<%= link_to 'Back', games_path %> | 
<%= link_to 'New Game', new_game_path %> |
<%= link_to 'Users', users_path %> | 
<%= link_to 'Games', games_path %>


<% end %>
