<h1>Home</h1>

<h2>Take a look <i class="fa fa-angellist"></i> Have a game <i class="fa fa-angellist"></i>Listen to some tunes<i class="fa fa-angellist"></i>Been trill.</h2><br>

<% unless current_user.present? %>

<h1>Log in</h1>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div> <br>
    <%= link_to 'New User', new_user_path %>
    <% end %>
<% else %>


<%= link_to 'Back', games_path %> | 
<%= link_to 'New Game', new_game_path %> |
<%= link_to 'Users', users_path %> | 
<%= link_to 'Games', games_path %>


<% end %>
