<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>Who would you like to play against?</p>
  <div class="field">
    <%= f.label :users_online %><br />
    <%= f.collection_select :player2_id, User.without_user(current_user.id), :id, :name %>
  </div>

<p>Play against the computer?</p>
  <div class="field">
    <%= f.label :against_the_computer %><br />
    <%= f.check_box :draw %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
