<h1>Previous Games</h1>

<table>
  <tr>
    <th><h2>Game Number</h2></th>
    <th><h2>Player1</h2></th>
    <th><h2>Player2</h2></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= game.player1.name %></td>
    <td><%= game.player2.name %></td>
    <td><%= link_to 'Show', game %></td> 
    <td>|</td> 
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td>|</td>
    <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %> |
<%= link_to 'Users', users_path %> |

