<p id="notice"><%= notice %></p>

<p>
  <b>Player1:</b>
  <%= current_user.name %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2_id %>
</p>

<p>
  <b>Winner:</b>
  <%= @game.winner %>
</p>

<p>
  <b>Loser:</b>
  <%= @game.loser %>
</p>

<p>
  <b>Draw:</b>
  <%= @game.draw %>
</p>

<div class="game_wrap" id="game_wrap">
<div class="square" id="sq1"><%= link_to "X", games_path, method: :update%></div>
<div class="square" id="sq2"> </div>
<div class="square" id="sq3"> </div>
<div class="square" id="sq4"> </div>
<div class="square" id="sq5"> </div>
<div class="square" id="sq6"> </div>
<div class="square" id="sq7"> </div>
<div class="square" id="sq8"> </div>
<div class="square" id="sq9"> </div>
</div>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
