<p id="notice"><%= notice %></p>

<p>
  <b>Player1:</b>
  <%= current_user.name %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2.name %>
</p>

<p>
  <b>Winner:</b>
  <%= @game.winner %>
</p>

<p>
  <b>Loser:</b>
  <%= @game.loser %>
</p>



<div class="game_wrap" id="game_wrap">
<%= link_to(new_game_move_path(@game, square_id: 0)) do %><i class="fa fa-square-o square fa-5x" id="sq1"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 1)) do %><i class="fa fa-square-o square fa-5x" id="sq2"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 2)) do %><i class="fa fa-square-o square fa-5x" id="sq3"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 3)) do %><i class="fa fa-square-o square fa-5x" id="sq4"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 4)) do %><i class="fa fa-square-o square fa-5x" id="sq5"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 5)) do %><i class="fa fa-square-o square fa-5x" id="sq6"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 6)) do %><i class="fa fa-square-o square fa-5x" id="sq7"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 7)) do %><i class="fa fa-square-o square fa-5x" id="sq8"></i><%end%>
<%= link_to (new_game_move_path(@game, square_id: 8)) do %><i class="fa fa-square-o square fa-5x" id="sq9"></i><%end%>
</div>




<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
